<!-- 自定义导航栏的warning标语 -->
{% extends "base.html" %}

<!-- outdated的样式，预览不显示 -->
{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

<!-- 设置顶部导航栏announcement -->
{% block announce %}
  Attention please. I'm an announcement.
{% endblock %}


{% block analytics %}
  <script>
    G-377962831
  </script>
{% endblock %}


{% block extrahead %}
<script
async
defer
src="http://192.168.8.129:8182/api/application/embed?protocol=http&host=192.168.8.129:8182&token=6ce2fa107e6930cd">
</script>
{% endblock %}

